

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10%; 
  border: 1px solid #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
}


/* @media (max-width: 991.98px) {
  .profile-image-container {
    margin-top: 2rem;
  }
} */
